@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
  background-image: url(img/teste2.jpg);
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #DFDFDF;
  display: flex;
  justify-items: space-between;
  margin-bottom: 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.d-flex input {
  padding: 0;
  border-radius: 0;
  background-color: #DFDFDF;   
  border: none;
  border-bottom: black solid 1px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons i {
  margin-left: 25px;
}

/* form */

.container {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin-bottom: 50px;
}

.container button {
  align: center;
}

.container h2 {
  text-align: center;
  color: #DFDFDF;
}

.form {
  text-align: left;
}

.form p {
  color: #DFDFDF;
}


.fundo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

#login {
  color: #DFDFDF;
  text-align: center;
}