@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #DFDFDF;
    display: flex;
    justify-items: space-between;
    margin-bottom: 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.d-flex input {
    padding: 0;
    border-radius: 0;
    background-color: #DFDFDF;   
    border: none;
    border-bottom: black solid 1px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons i {
    margin-left: 25px;
}

/* Best Sellers */

.best-sellers {
    margin-top: 20px;
}

.best-sellers p {
    font-family: Jomolhari;
    font-size: 7vh;
}

.content-best-sellers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-best-sellers h5, p, a {
    font-family: Jomolhari;
}

.content-best-sellers h5 {
    font-size: 4vh;
}

.content-best-sellers p {
    font-size: 5vh;
}

.container-best-sellers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 60%;
}

.side-img {
    width: 40%;
    height: 100%;
}

.content-product img {
    width: 100%;
}

.content-product {
    border-radius: 52px;
    padding: 30px;
    text-align: center;
    border: black solid 1px;
}

@media screen and (max-width: 768px) {
    .best-sellers {
        text-align: center;
    }

    #side-img {
        display: none;
    }

    .container-best-sellers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;
    }
}

/* Desconto */

.desconto {
    padding: 30px;
    margin-top: 40px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.desconto img {
    padding-left: 0;
    width: 35%;
}

.desconto-text {
    color: #D9D9D9;
    font-family: Jomolhari;
    text-align: center;
}

.desconto-text p {
    font-size: 3vh;
}

.desconto-text h1 {
    font-size: 10vh;
}

@media screen and (max-width: 768px) {
    .desconto {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
}

/* Produtos */

.products {
    margin-top: 20px;
}

.products p {
    font-family: Jomolhari;
    font-size: 7vh;
}

.container-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.products h5, p, a {
    font-family: Jomolhari;
}

.products h5 {
    font-size: 4vh;
}

.content-product p {
    font-size: 5vh;
}

@media screen and (max-width: 768px) {
    .products {
        text-align: center;
    }

    .container-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;
    }
}

/* footer */

footer {
    padding-top: 20px;
    background-color: #DFDFDF;
    margin-top: 20px;
}

.galery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.galery img {
    width: 23%;
}

.galery img:hover {
    box-shadow: 1px 1px 5px rgb(255, 215, 0);
}

.container-footer {
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-top: black solid 1px;
}

.footer-content {
    text-align: center;
    justify-content: center;
}

.footer-content a, i{
    font-size: 3vh;
    color: rgba(0, 0, 0, 0.66);
    text-align: center;
    font-family: Jomolhari;
    text-decoration: none;
}

.footer-content h3 {
    color: darksalmon;
}

#telefone {
    color: darksalmon;
    font-size: 4vh;
}

@media screen and (max-width: 768px) {
    #telefone {
        font-size: 3vh;
    }

    .footer-content a, i{
        font-size: 2vh;
    }
}